body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.content {
    margin: 200px auto;
    border: 1px solid #999;
    width: 500px;
    height: 400px;
    background-color: #f4f4f4;
}

.info {
    display: flex;
    flex-direction: column;
    margin: 10px 20px;
}

h3 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 45px;
}

/*#taikhoan {
    width: 350px;
    position: relative;
    right: -3px;
}*/

#matkhau {
    width: 350px;
    position: relative;
    right: -3px;
}

#hoten {
    width: 350px;
    position: relative;
    right: -3px;
}

.HoTen {
    display: flex;
    margin-top: 10px;
}

#sdt {
    width: 350px;
    position: relative;
    right: -3px;
}

.DienThoai {
    display: flex;
    margin-top: 10px;
}

/*.TK {
    margin-top: 12px;
    display: flex;
}*/

.MK {
    display: flex;
    margin-top: 15px;
}

.MKNL {
    display: flex;
    margin-top: 12px;
}

.info_inputBlock {
    margin: auto 0;
}
.MST {
    display: flex;
    margin-top: 12px;
}

.text {
    width: 70px;
}

#matkhaunhaplai {
    width: 350px;
    position: relative;
    right: -3px;
}
#mst {
    width: 350px;
    position: relative;
    right: -3px;
}
.button {
    display: flex;
    justify-content: center;
}

#DangKy {
    margin-top: 15px;
    height: 30px;
    background-color: rgb(95, 183, 95);
    color: white;
    border-radius: 3px;
    border: 1px solid rgb(95, 183, 95);
}

/*.quenMK {
    text-align: center;
    margin-top: 10px;
}*/

    /*.quenMK a {
        text-decoration: none;
    }*/

.DKMK {
    text-align: center;
}

    .DKMK a {
        text-decoration: none;
        color: gray;
    }
