body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.body-tiktek {
    display: flex;
}

.header {
    position: fixed;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    width: 100%;
    top: 0;
    z-index: 100;
    gap: 10px;
}

.Tiktek {
    font-size: 25px;
    color: orange;
}
/*tim kiem*/
.search-bar {
    border: 1px solid #dbd8d8;
    background-color: white;
    border-radius: 25px;
    /* Adds rounded corners */
    padding: 5px 10px;
    display: flex;
    align-items: center;
}

    .search-bar input[type="text"] {
        border: none;
        outline: none;
        width: 250px;
        padding: 5px;
        border-radius: 25px;
        /* Adds rounded corners to the input field */
    }

        .search-bar input[type="text"]::placeholder {
            font-family: "Google Sans", sans-serif;
            font-size: 13px;
            color: #999;
            /* Placeholder text color */
        }

.icon-search {
    margin-right: 5px;
    /* Add spacing between the input and icon */
    cursor: pointer;
    /* Add cursor pointer for interaction */
}

.vertical-line {
    width: 1px;
    height: 15px;
    background-color: #dbd8d8;
    margin-right: 10px;
}
/*Nút upload dropdown*/
.actions {
    display: flex;
    align-items: center;
    margin-right: 60px;
}


.profile-button {
    background-color: #ff4500;
    border: none;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
}

.profile-dropdown {
    position: relative;
    display: inline-block;
    margin-left: 10px;
}

.profile-button {
    background-color: #ff4500;
    border: none;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
    border-radius: 10px;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content a:hover {
            background-color: #ff4500;
            color: white;
        }
        .dropdown-content a:first-child {
            border-top-left-radius: 35px;
            border-top-right-radius: 35px;
        }

        .dropdown-content a:last-child {
            border-bottom-left-radius: 35px;
            border-bottom-right-radius: 35px;
        }

.profile-dropdown:hover .dropdown-content {
    display: block;
}
/*Bên trái*/

.sidebar-left {
    width: 20%;
    position: fixed;
    top: 118px;
    background-color: white;
    padding-bottom: 500px;
}

    .sidebar-left .Main {
        display: flex;
    }

.Main {
    padding-top: 10px;
    padding-bottom: 10px;
}

.Profile {
    padding-top: 10px;
    padding-bottom: 10px;
}

.Main a {
    padding-top: 10px;
    text-decoration: none;
}

.Main a:hover {
    color: #ff4500;
}

.Profile a:hover {
    color: aqua;
}

.Profile a {
    padding-top: 10px;
    text-decoration: none;
}

.Main img {
    height: 20px;
    width: 20px;
    padding-top: 10px;
    margin-right: 10px;
    margin-left: 20px;
}

.sidebar-left .Profile {
    display: flex;
}

.Profile img {
    height: 20px;
    width: 20px;
    padding-top: 10px;
    margin-right: 10px;
    margin-left: 20px;
}
/*follower*/
.follow {
    border: 1px solid black;
    width: 99%;
    border-radius: 10px;
}

.Follow1 {
    display: flex;
    border: 1px solid black;
    padding-left: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 10px;
}

.follow-title {
    font-size: 14px;
    margin-left: 10px;
}

.Follow1 img {
    height: 60px;
    width: 60px;
    padding-top: 15px;
    border-radius: 50%;
}

.Follow-title {
    font-size: 16px;
    padding-top: 10px;
    color: black;
    text-decoration: none;
}

.Follow-subtitle {
    font-size: 13px;
    margin-top: 10px;
    
}

.xemthem {
    font-size: 11px;
    margin-left: 10px;
}
/*main*/
.right-side {
    width: 70%;
    border: 1px solid black;
    top: 140px;
    position: absolute;
    right: 80px;
    z-index: 50;
}

.title {
    margin-left: 400px;
}

.Upload-video-title {
    font-size: 20px;
    font-weight: bolder;
    margin-left: 40px;
}

.Post-video-title {
    padding-bottom: 20px;
    font-size: 16px;
    padding-right: 100px;
}
/*left*/
.upload-main {
    display: flex;
}

.left-upload {
    justify-content: center;
    width: 50%;
    border: 1px dashed black;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 10px;
}

.left-upload-title {
    font-size: 20px;
    font-weight: bold;
    margin-left: 150px;
}

.left-upload-subtitle {
    font-size: 16px;
    width: 70%;
    margin-left: 100px;
}

.select-file-button {
    margin-left: 190px;
    padding: 20px 20px;
}
/*Caption and description*/
.right-upload {
    width: 50%;
    justify-content: center;
    margin-right: 10px;
    margin-bottom: 50px;
}

.Caption p {
    font-size: 20px;
    font-weight: bold;
    margin-left: 70px;
}

.Caption input[type="text"] {
    width: 70%;
    margin-left: 70px;
}

.Description p {
    font-size: 20px;
    font-weight: bold;
    margin-left: 70px;
}

.Description input[type="text"] {
    width: 70%;
    margin-left: 70px;
    height: 100px;
}

.button {
    display: flex;
    margin-left: 70px;
}

@media screen and (max-width: 600px) {
    .header {
        padding: 5px; /* Thu nhỏ padding để tiết kiệm không gian */
    }

    .search-bar input[type="text"] {
        width: 120px;
    }
    /* Điều chỉnh cấu trúc sidebar-left */
    .sidebar-left {
        display: none;
    }
    /*điều chỉnh main*/
    .right-side {
        left: 50px;
    }

    .right-upload {
        display: none;
    }

    .title {
        margin-left: 10px;
    }

    .Upload-video-title {
        font-size: 20px;
        font-weight: bolder;
        margin-left: 90px;
    }

    .Post-video-title {
        padding-bottom: 10px;
        font-size: 16px;
        padding-right: 10px;
        margin-left: 50px;
    }

    .left-upload {
        justify-content: center;
        width: 93%;
        border: 1px dashed black;
        align-items: center;
        margin-left: 10px;
        margin-bottom: 10px;
    }

    .left-upload-title {
        font-size: 20px;
        font-weight: bold;
        margin-left: 50px;
    }

    .left-upload-subtitle {
        font-size: 16px;
        width: 70%;
        margin-left: 50px;
    }

    .select-file-button {
        margin-left: 85px;
        padding: 20px 20px;
    }
}
